<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        angular.module('SoundBoard', ['ngMaterial'])
            .factory('socket', function ($rootScope) {
                var socket = io.connect();
                return {
                    init: function () {
                        socket.removeAllListeners();
                    },
                    on: function (eventName, callback) {
                        socket.on(eventName, function () {
                            var args = arguments;
                            $rootScope.$apply(function () {
                                callback.apply(socket, args);
                            });
                        });
                    },
                    emit: function (eventName, data, callback) {
                        socket.emit(eventName, data, function () {
                            var args = arguments;
                            $rootScope.$apply(function () {
                                if (callback) {
                                    callback.apply(socket, args);
                                }
                            });
                        })
                    }
                };
            })
            .controller("ClientCtrl", function ($scope, socket) {
                $scope.title = "Test";
                $scope.playedSounds = [];

                $scope.playSound = function (sound) {
                    socket.emit("play sound", sound.id)
                }

                $scope.reload = function () {
                    socket.emit("reload");
                }

                socket.on('data', function (msg) {
                    $scope.userId = msg;
                });

                socket.on('sounds', function (sounds) {
                    $scope.sounds = sounds;
                });

                socket.on('play sound', function (msg) {
                    $scope.playedSounds.push(msg);
                });
            });
    </script>
    <style>
        h2 {
            padding-left: 20px;
        }
        
        md-list-item md-button {
            float: right;
        }
        
        .md-list-item-text {
            padding-left: 20px;
        }
    </style>
</head>

<body ng-app="SoundBoard" ng-cloak>
    <div ng-controller="ClientCtrl" layout="column">
        <md-content>
            <md-toolbar md-scroll-shrink="true">
                <div class="md-toolbar-tools">
                    <h2><span>Sound Board</span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Reload" ng-click="reload()">
                        <i class="fa fa-refresh fa-2x"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-list flex>
                <md-list-item ng-repeat="sound in sounds" ng-click="playSound(sound)">
                    <div class="md-primary">
                        <i class="fa fa-check-circle-o fa-3x" ng-if="sound.playCount && !sound.playing"></i>
                        <i class="fa fa-cog fa-3x fa-spin" ng-class="{'fa-spin': sound.playing}" ng-show="sound.playing"></i>
                        <i class="fa fa-circle-o fa-3x" ng-if="!sound.playCount"></i>
                    </div>
                    <div class="md-list-item-text">
                        <h3>{{sound.path}}</h3>
                        <p>Play Count: {{sound.playCount}}</p>
                    </div>
                    <md-button class="md-secondary" ng-if="sound.playing">
                        <i class="fa fa-pause-circle fa-5x"></i>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</body>

</html>